@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --font-mono: "Courier New", Courier, monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono);
  overflow-x: hidden;
  cursor: auto;
}

/* Base selection color */
::selection {
  background: #ff0000;
  color: #000000;
}

/* Scrollbar hide (for lenis) */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
